html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #646557 url(../images/pattern.png) repeat fixed;
  color: #5D5D5D;}

p
{ padding: 0 0 15px 0;
  line-height: 1.5em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #B60000;
  margin: 0 0 5px 0;
  padding: 2px 0 2px 0;}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #B60000;
  padding: 15px 0 5px 0;}

h3
{ 	
	font: bold 145% 'century gothic', arial, sans-serif;
	color: #B60000;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #B60000;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;}

h6
{ color: #362C20;}

hr{
	color: #B60000;
	background-color: #B60000;
	height: 3px;
}
a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #B60000;}

a:hover
{ text-decoration: none;
  color: #B60000;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 20px auto;}

#header
{ width: 950px;
  height: 121px;}

#logo
{ width: 910px;
  position: relative;
  height: 100px;
  background: transparent;
  padding: 10px 0 10px 0;}

#logo h1, #logo h2
{ font: normal 220% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 0px 0 0 0;
  color: #A8AA94;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #A8AA94;}

#menubar
{ height: 46px;
  width: 950px;
  margin: 1px auto 0 auto;
  background: transparent url(../images/tab.png);} 

ul#menu
{ float: left;
  margin: 0;padding: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 6px;
  list-style: none;
  margin: 0px 2px 0 0;}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 27px;
  padding: 12px 28px 5px 22px;
  text-align: center;
  color: #FFF;
  border-right: 1px solid #636363;
  text-decoration: none;} 

ul#menu li.tab_selected a
{ height: 27px;
  padding: 6px 28px 5px 22px;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #ECEF01;}

ul#menu li a:hover
{ color: #ECEF01;}

#site_content
{ width: 925px;
  overflow: hidden;
  margin: 5px auto 0 auto;
  padding: 10px 0 0 25px;
  background: #EEE;
  border-top: 0;
  border-bottom: 0;
  color: #5D5D5D;} 

#sidebar_container
{ float: right;
  width: 224px;
  padding: 10px 20px 20px 0;}

.sidebar_top, .sidebar_base
{ width: 222px;
  height: 14px;
  background: transparent url(../images/side_top.png) no-repeat;}

.sidebar_base
{ background: url(../images/side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 0;}

.sidebar_item
{ background: #FFF;
  padding: 0 15px;
  width: 192px;}

.sidebar_item ul
{ width: 178px; 
  padding: 0px 0 0 0; 
  margin: 0px 0 0px 0;}

.sidebar_item li
{ list-style: none; 
  padding: 0 0 6px 0;margin: 0; }

.sidebar_item li a, .sidebar_item li a:hover
{ padding: 0 0 0 35px;
  display: block;
  background: transparent url(../images/link.png) no-repeat left center;} 

.sidebar_item li a.selected
{ color: #444;
  text-decoration: none;} 
  
#content
{ text-align: center;
  width: 655px;
  padding: 15px 0 20px 0;
  margin: 0;}

#content ul
{ margin: 2px 0 12px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 2px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 950px;
  font: normal 90% 'trebuchet ms',  arial, sans-serif;
  height: 15px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #FFF;
  background: transparent url(../images/tab.png) repeat;}

#footer p
{ padding: 0 0 10px 0;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: underline;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}

  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{
  #margin: 2px 0 2px 0;
  border: solid 1px #B60000;}

.container{
	width:100%;
	cellpadding:0;
	cellspacing:0;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #DDD;
  color: #47433F;
  #border-top: 1px solid #FFF;
  }

  td.header_info 
{ font: normal 175% 'century gothic', arial, sans-serif;
  color: #B60000;
  margin: 0 0 2px 0;
  padding: 2px 0 2px 0;}

td.column_info 
{ font: 'century gothic', arial, sans-serif;
  color: #B60000;
  margin: 0 0 2px 0;
  padding: 2px 0 2px 0;}
 td.subheader 
{ font: bold 'century gothic', arial, sans-serif;
  color: #B60000;
  margin: 0 0 2px 0;
  padding: 2px 0 2px 0;
  font-weight: bold;
  }

 td.vacant 
{ 
  margin: 0 0 2px 0;
  padding: 2px 0 2px 0;
  background: #ff00ff 
  }
  
a.vacant 
{ font: normal 120% 'century gothic', arial, sans-serif;
  color: black;
  margin: 0 0 2px 0;
  padding: 2px 0 2px 0;
  background: #ff00ff 
  }
 td.noticed 
{ font: bold 'century gothic', arial, sans-serif;
  color: #B60000;
  margin: 0 0 2px 0;
  padding: 2px 0 2px 0;
  background: #FFFF00 
  }
  
td.active 
{ 
	font: bold 100% 'century gothic', arial, sans-serif;
	color: #990000;
	margin: 0 0 2px 0;
	padding: 2px 0 2px 0;
	background: transparent url(../images/smallbutton.jpg);
	text-align: center
}
  
 a.active, a.active:hover
{ 
	background: transparent;
	outline: none;
	text-decoration: none;
	color: #003300;
}

a.active:hover
{ 
	text-decoration: none;
	color: #003300;
} 

a.detail_link
{ 
	font: italic 120% 'century gothic', arial, sans-serif;
	text-decoration: underline;
	# background-image: url('../images/button_details.jpg');
	background-repeat: repeat-x;
	padding: 2px 5px 2px 5px;
	color: #660033;
} 
  
  
a.detail_link:hover
{ 
	font: italic 120% 'century gothic', arial, sans-serif;
	text-decoration: none;
	background-repeat: repeat-x;
	padding: 2px 5px 2px 5px;
	color: #660033;
}

a.occupied
{ 
	font: italic 120% 'century gothic', arial, sans-serif;
	text-decoration: underline;
	background-repeat: repeat-x;
	padding: 2px 0px 2px 0px;
	color: #009900;
} 

  
a.occupied:hover
{ 
	font: italic 120% 'century gothic', arial, sans-serif;
	text-decoration: none;
	background-repeat: repeat-x;
	padding: 2px 5px 2px 5px;
	color: #009900;
}

  
a.logout
{ 
	font: bold 120% 'century gothic', arial, sans-serif;
	text-decoration: underline;
	background-repeat: repeat-x;
	padding: 2px 0px 2px 0px;
	color: white;
	background: transperent;
}

a.logout:hover
{ 
	font: bold 120% 'century gothic', arial, sans-serif;
	text-decoration: none;
	background-repeat: repeat-x;
	padding: 2px 0px 2px 0px;
	color: white;
	background: transperent;
} 
  
 a.build_component
  {
  font: italic 120% 'century gothic', arial, sans-serif;
  text-decoration: underline;
  background-image: url('../images/link_bg.jpg');
  background-repeat: repeat-x;
  padding: 2px 5px 2px 5px;
  color: #660033;} 
 }
  a.build_component:hover
  {
  font: italic 120% 'century gothic', arial, sans-serif;
  text-decoration: none;
  background-image: url('../images/link_bg.jpg');
  background-repeat: repeat-x;
  padding: 2px 5px 2px 5px;
  color: #660033;
 }
.submitter{
 font: bold 100% 'century gothic', arial, sans-serif;
 height: 25px;
 width: 130;
 color: #B60000;
 padding: 2px 5px 2px 5px;
 background-image: url('../images/submit_button.gif');
 background-repeat: repeat-x;
 text-align: center ;
 //border : solid black 1px;
 display: block;
 cursor: pointer;
 }

.submitter:hover{
 font: bold 110% 'century gothic', arial, sans-serif;
 height: 25px;
 width: 130;
 padding: 2px 5px 2px 5px;
 background-image: url('../images/submit_button.gif');
 background-repeat: repeat-x;
 text-align: center ;
 border-style: none;
 display: block;
 cursor: pointer;
}
.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 650px;
}

.gmaps4rails_map {
  width: 650px;
  height: 500px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 600px;
   border:#555555 2px solid;
}