<br>
<h1 style="text-align:left">About us</h1>

<p style="color:black;text-align:left"><b>Hostelopedia Services</b> is the India's leading hostel search facility provider. Established in 2011 by Sakura,
We are directed to provide effective and efficient hostel search facility in indian metropolitan cities. It works as a communication
channel between hostel owners and Students/Batchlors/Touriest to pass information of availablity and other details.</p>
<p style="color:black;text-align:left">The basic objective of Sakura is to avail computation and information management ability to all over the society. It will not only bring an strong information flow but also make services available to common people easily.</p>
<p style="color:black;text-align:left">The term Sakura means <i>shade of cherry blossom tree</i>. 
According to the name Sakura is oriented to build a system which will be highly specialized to meet daily needs of common people.
 A system which will build a shade under which every type of business can be executed using IT tools and techniques to achieve high rate of success.</p>

<p style="color:black;text-align:left">
Our beginnings were modest, but our efforts were determined and steady, and here we stand this day on the threshold 
of contemn plating a nationwide presence, truly humbled by the faith of people in us. 
</p>

<h1 style="text-align:left">Mission</h1>
<p style="color:black;text-align:left">Sakura is directed to create reach of IT tools in common people daily life. 
Creating 100% reach of computers and IT tools in service industry of every size and bring all the service flow under on system to make the all types of services available within reach of every people through internet. 
Sakura will bring uses of specialized IT tools to every people's life to make their daily work efficient.</p>

<h1 style="text-align:left">Vission</h1>
<p style="color:black;text-align:left">With a clear view to feature Sakura will create a systemized service flow where all activities are recorded and have a visibility of performance and future. 
A environment where IT systems are commoditized like all other tools. 
This will create connectivity among service providers and service provider and targeted customers.</p>
<h1 style="text-align:left">Addresses</h1>
<h4 style="text-align:left">Headquarters</h4>
<p style="color:black;text-align:left">
<b>SAKURA</b><br>
Simlapal,<br>
Bankura,<br>
West Bengal<br>
</p>
<h4 style="text-align:left">Hyderabad Office</h4>
<p style="color:black;text-align:left">
<b>SAKURA</b><br>
Dharam Karam Road,<br>
Aamirpet,<br>
Hyderabad,AP<br>
</p>