
<!DOCTYPE HTML>
<html>
<head><link rel="shortcut icon" href="favicon.png" />
  <title>Hostelopedia</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "datePicker" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "date" %>
  <%= javascript_include_tag "datePicker" %>
  <%= javascript_include_tag "validater" %>
   <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27229246-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
	<% unless user_signed_in? -%>
		 <li style="text-align:right"><%= link_to "Sign in", new_user_session_path%></li>
	<% else -%>
		<li style="text-align:right"><%= link_to "Sign out", destroy_user_session_path, :method => :delete , :class=>'logout' %></li>
	<% end -%>

          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/building/list">Hostelopedia<span class="logo_colour">Hostel Management System</span></a></h1>
          <h2>Maintaining hostel is a fun now.</h2>
        </div>
      </div>
    </div>
    <div id="site_content">
      <div id="sidebar_container">
	  	<div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Profile Details</h3><hr>
			<ul>
				<li><a href='#'>My Profile</a></li>
				<li><a href='#'>Tasks Assigned</a></li>
				<li><a href='#'>Tasks History</a></li>
			</ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3> Requests Panel</h3><hr>
			<ul>
				<li><a href='/partners/registration_request'>Registration Request</a></li>
				<li><a href='/partners/incomplete_hostels'>Edit Hostel Details</a></li>
				<li><a href='#'>Request History</a></li>
			</ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
		<div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Data Entry</h3><hr>
			<ul>
				<li><a href='#'>Add Hostel</a></li>
				<li><a href='#'>Add Collaborator</a></li>
				<li><a hrerf='#'>Add Partner</a></li>
			</ul>
          </div>
          <div class="sidebar_base"></div>
        </div>

	</div>
      <div id="content">
      <div class=container style="text-align:center">
        <%= yield -%>
      </div>
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy; TELM </p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>