<!DOCTYPE HTML>
<html>
<head><link rel="shortcut icon" href="../images/favicon.png" />
  <title>Hostelopedia</title>
  
  <%= stylesheet_link_tag "datePicker" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "date" %>
  <%= javascript_include_tag "datePicker" %>
  <%= javascript_include_tag "validater" %>
  <%= yield :head %>
  <%= stylesheet_link_tag "style" %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27229246-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
	<% unless user_signed_in? -%>
		 <li style="text-align:right"><%= link_to "Sign in", new_user_session_path,:class=>'logout' %></li><br>
		 <li style="text-align:right"><%#= link_to "New user sign up", '/users/sign_up' ,:class=>'logout' %></li>
	<% else -%>
		<li align=right><%= link_to "Sign out", destroy_user_session_path, :method => :delete , :class=>'logout' %></li>
	<% end -%>

          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="#">Hostelopedia<span class="logo_colour">  Services</span></a></h1>
          <h2>With you, always.</h2>
        </div>
      </div>
    </div>
    <div id="site_content">
      <div id="sidebar_container">
	  	<div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3>Search Hostel</h3>
			<hr><br>
			<form action="" method=post>
			City :<select name=city id=city_select>
				<option value=''>Select City</option>
				<option value='Hyderabad'>Hyderabad</option>
				<option value='Chennai'>Chennai</option>
				<option value='Mumbai'>Mumbai</option>
				<option value='Bangalore'>Bangalore</option>
				<option value='Kolkata'>Kolkata</option>
				<option value='Delhi'>Delhi</option>
			</select><br><br>
			Area :<select name=area id=addressStreet>
				<option value="">Select City First</option>
			</select><br><br>
			<input type=submit value=Search class=submitter><a href="under_construction.html">Advanced search</a>
			</form>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Hostelopedia Updates</h3>
			<hr><br>
			<ul>
				<li><a href='under_construction.html'>About Us</a></li>
				<li><a href='under_construction.html'>Suggest a Hostel</a></li>
				<li><a href='under_construction.html'>Hostelopedia Events</a></li>
				<li><a href='under_construction.html'>Contact Us</a></li>
			</ul>
          </div>
          <div class="sidebar_base"></div>
        </div>

	<div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3>Others</h3>
			<hr><br>
			<ul>
				<li><a href='under_construction.html'>Career Caunselling</a></li>
				<li><a href='under_construction.html'>Resume Building</a></li>
				<li><a href='under_construction.html'>Coching Search</a></li>
			</ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
      <div class=container style="text-align:center">
        <%= yield -%>
      </div>
      </div>
    </div>
    <div id="footer">
	<%= yield :scripts %> 
      <p>Copyright &copy; TELM </p>
    </div>
    <p>&nbsp;</p>
  </div>
</body>
</html>
<script language=javascript>
jQuery(function($) {
  // when the #country field changes
  $("#city_select").change(function() {
    // make a POST call and replace the content
    var city = $('select#city_select :selected').val();
    if(city == "") city="0";
    jQuery.get('/home/update_street/' + city, function(data){
        $("#addressStreet").html(data);
    })
    return false;
  });

})
</script>